{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block body %}  
<div class="container">
  <h2>Add Todo</h2>
  <form action="/" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Task title</label>
        <input type="text" class="form-control" name="title" id="title">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Task description</label>
        <input type="text" class="form-control" name="desc" id="desc">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div class="container my-5">
    <h2>Your Tasks list</h2>
    {% if search_term %}
        <p>Showing results for: "{{ search_term }}"</p>
    {% endif %}
    {% if allTodo|length == 0 %}
        <div class="alert alert-dark" role="alert">
          No records found. Add your first Task now!
        </div>
    {% else %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Sno</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Done</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in allTodo %}
            <tr class="{% if todo.done %}table-success{% endif %}">
                <th scope="row">{{ loop.index }}</th>
                <td>{{ todo.title }}</td>
                <td>{{ todo.desc }}</td>
                <td>{{ todo.date_created }}</td>
                <td>
                  <form action="/done/{{ todo.sno }}" method="POST">
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault{{ todo.sno }}" {% if todo.done %}checked{% endif %} onchange="this.form.submit()">
                          <label class="form-check-label" for="flexSwitchCheckDefault{{ todo.sno }}"></label>
                      </div>
                  </form>
                </td>
                <td>
                  <a href="/update/{{ todo.sno }}" class="btn btn-outline-success btn-sm mx-1 my-1">Update</a>
                  <a href="/delete/{{ todo.sno }}" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
                </td>
            </tr>                    
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
</div>
{% endblock body %}
