<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
   
    <div class="container">
        <!-- Toggler to switch -->
        <div class="toggler">
            <div class="slider"></div>
            <button class="login">Login</button>
            <button class="signup">Sign Up</button>
        </div>

        <div class="form-section">
            <!-- Login Form -->
            <div class="login-box">
                <form action="/login" method="POST">
                    <input type="email" class="email ele" name="email" placeholder="email" required>
                    <input type="password" class="password ele" name="password" placeholder="password" required>
                    <button type="submit" class="lbtn">Login</button>
                </form>
            </div>

            <!-- Signup Form -->
            <div class="signup-box">
                <form action="/register" method="POST">
                    <input type="text" class="username ele" name="username" placeholder="username" required>
                    <input type="email" class="email ele" name="email" placeholder="email" required>
                    <input type="password" class="password ele" name="password" placeholder="password" required>
                    <button type="submit" class="lbtn">Register</button>
                </form>
            </div>
        </div>
    </div>


    <!-- Flash message -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-message-container">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    <script src="https://unpkg.com/@barba/core"></script>
    <script src="{{ url_for('static',filename='script/login.js') }}"></script>
</body>
</html>
