<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <div class="slider"></div>
        <div class="toggler">
            <button class="login">Login</button>
            <button class="signup">Sign Up</button>
        </div>

        <div class="form-section">
            <!-- Login Form -->
            <div class="login-box">
                <input type="email" class="email ele" placeholder="Email">
                <input type="password" class="password ele" placeholder="password">
                <a href="/user" class="btn">Login</a>
            </div>

            <!-- Signup Form -->
            <div class="signup-box">
                <input type="text" class="name ele" placeholder="Name">
                <input type="email" class="email ele" placeholder="Email">
                <input type="password" class="password ele" placeholder="password">
                <input type="password" class="password ele" placeholder="confirm password">
                <a href="/user" class="btn">Sign Up</a>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/@barba/core"></script>
    <script src="{{ url_for('static',filename='script/login.js') }}"></script>
</body>
</html>
